section h3 {
  color: #335A5B; }

section:nth-child(odd) h3 {
  color: #DDE2C9; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-size: 17px; }

html, body, body * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  overflow-x: hidden; }

html, body {
  background: #70536B; }

.container {
  background: #E5E3E0;
  min-height: 100vh; }

footer {
  display: none; }

a {
  color: black;
  text-decoration: none; }

#header-nav,
#bottom-nav {
  display: none; }

h3 {
  font-size: 1.2em; }

header {
  color: #0B0509;
  width: 100%;
  height: 100vh;
  padding-top: 10vh; }
  header .content-wrap {
    text-align: center; }

header div.hero-img {
  margin: 10vh 2vh;
  overflow: hidden; }
  header div.hero-img img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
    max-width: 640px;
    max-height: 100%;
    max-height: 345px; }

#header-mobile-nav {
  text-align: center; }

main section {
  background: #E5E3E0;
  color: #0B0509;
  min-height: 100vh;
  padding: 2em 2em;
  margin: 0 auto;
  line-height: 1.5em; }
  main section:nth-child(odd) {
    background: #70536B;
    color: #FBF7FA; }
  main section .section-title,
  main section .more {
    text-align: center; }
  main section .section-title {
    padding-bottom: 1em; }
  main section #mobile-bio-nav {
    position: absolute;
    bottom: 0; }
  main section p {
    margin: 0 auto;
    max-width: 980px; }
  main section .more {
    margin-top: 1em; }

nav {
  color: #394648; }
  nav * {
    color: #394648; }
  nav a:hover {
    color: #335A5B; }

main section:nth-child(odd) nav {
  color: #FBF7FA; }
  main section:nth-child(odd) nav * {
    color: #FBF7FA; }
  main section:nth-child(odd) nav a:hover {
    color: #DDE2C9; }

nav[id$="mobile-nav"] {
  padding-top: 20vh;
  text-align: center;
  margin: 0 auto; }

#header-mobile-nav {
  padding: 0;
  margin: 0; }

#bio .more a {
  color: #DDE2C9; }
  #bio .more a:hover {
    color: #FBF7FA; }

#disco .more a {
  color: #335A5B; }
  #disco .more a:hover {
    color: #394648; }

.section-text {
  min-height: 50vh; }

@media (max-width: 961px) {
  .section-text {
    font-size: 16px; } }

@supports (display: grid) {
  @media (min-width: 961px) {
    .container {
      overflow-y: hidden;
      margin: 0 auto;
      max-width: 960px; }
    [id$="mobile-nav"] {
      display: none; }
    html, body {
      background: #967F8F; }
    .container {
      width: 100vw;
      max-width: 960px; }
    header#header {
      width: 100%;
      max-width: 960px;
      height: 100vh;
      display: grid;
      grid-template-columns: repeat(8, 1fr) 1em;
      grid-template-rows: 1fr 3fr 2fr 4fr 1fr; }
      header#header #header-nav {
        overflow: visible;
        display: block;
        grid-column: 2/3;
        grid-row: 1/2; }
        header#header #header-nav ul {
          list-style-type: none;
          color: #394648; }
          header#header #header-nav ul li {
            padding-top: 0.4em;
            border-bottom: 1px dashed #0B0509; }
          header#header #header-nav ul li:last-child {
            border-bottom: 1px solid #0B0509; }
          header#header #header-nav ul li:hover {
            color: #335A5B; }
      header#header .hero-img {
        grid-column: 3/9;
        grid-row: 1/5;
        margin: 0;
        margin-left: 1em;
        padding: 0;
        background-color: #967F8F;
        background-image: url(../img/chet-baker-quiz.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover; }
      header#header .hero-img img {
        display: none; }
      header#header .content-wrap {
        grid-column: 1/3;
        grid-row: 3/4; }
    main section {
      position: relative; }
      main section .section-title {
        position: absolute;
        top: 50%;
        transform: translateY(-50%); }
    section#bio {
      height: auto;
      min-height: 1em;
      width: 100%;
      max-width: 960px;
      display: grid;
      grid-template-columns: repeat(2, 1fr) 2fr; }
      section#bio .section-title {
        grid-column: 2/3; }
      section#bio .section-text {
        grid-column: 3/4;
        min-height: 1em; }
    section#disco {
      min-height: 1em;
      width: 100%;
      max-width: 960px;
      display: grid;
      grid-template-columns: 2fr repeat(2, 1fr); }
      section#disco .section-title {
        grid-column: 2/3;
        left: 50%; }
      section#disco .section-text {
        grid-column: 1/2;
        min-height: 1em; }
    footer {
      display: block;
      background: #0B0509;
      width: 100%;
      min-height: 50px;
      position: relative; }
      footer #email {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%); }
        footer #email a {
          font-size: 0.7em;
          color: #DDE2C9; }
        footer #email a:hover {
          color: #FBF7FA; } } }
